.about-us-container {
  /* position: fixed; */
  /* right: 0;
  top: 30px; */
  width: 80%;
  max-width: 300px;
  height: 90%;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
  margin: auto;
  background-color: white;
  /* display: flex;
  flex-direction: column; */
  display: grid;
  /* grid-template-rows: repeat(6, 1fr); */
  grid-template-rows: 1fr 2fr 1fr 1fr 1fr 1fr;
}

.about-us-title {
  border-bottom: 1px solid rgba(0, 0, 0, 0.20);
  box-shadow: 0 4px 5px -2px rgba(0, 0, 0, 0.20);
  display: grid;
  grid-template-columns: 4fr 2fr;
  font-family: "Archivo", sans-serif;
  font-size: 1.5em;
}

.about-us-title a {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100%;
  width: auto;
  border-left: 1px solid rgba(0, 0, 0, 0.20);
  transition: all 0.3s ease;
}

.about-us-title a:hover {
  background-color: #ADFAD3;
  transition: all 0.3s ease;
}

.about-us-container > a:hover {
  background-image: linear-gradient( rgba(186,232,249,1),rgba(237,194,214,1));
}

.about-us-title img {
  max-width: 70%;
  max-height: 70%;
  margin: auto;
}

.about-us-title h2 {
  margin: auto;
}

.about-us-container h2 {
  font-family: "Archivo", sans-serif;
  /* padding-bottom: 10px; */
}

.about-profile-pic img {
  min-width: 80%;
  min-height: 80%;
  max-width: 80px;
  max-height: 80px;
  border-radius: 10%;
  margin-left: 10px;
}

.about-us-container > a {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 5px -2px rgba(0, 0, 0, 0.20);
  /* font-family: "Archivo", sans-serif; */
}

.about-profile h3 {
  text-decoration: none!important;
  font-family: "Archivo", sans-serif;
  color: black;
  padding-left: 10px;
}

.profile-card {
  display: grid;
  grid-template-rows: 30px 30px;
}

.links {
  padding-left: 10px;

}

.links img{
  height: 20px;
  width: 20px;
  padding-right: 5px;
}

.about-us-container p {
  font-family: "Roboto", sans-serif;
  /* margin: auto; */
  padding-right: 10px;
  padding-left: 10px;
  /* box-shadow: 0 4px 5px -2px rgba(0, 0, 0, 0.20); */
}

.about-us-bio {
  margin: auto;
  box-shadow: 0 4px 5px -2px rgba(0, 0, 0, 0.20);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
