.center-container {
  background-color: white;
  margin: 0 auto;
  /* box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2); */
  height: 85%;
  width: 600px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5vh;
}

.chats-container {
  background-color: white;
  overflow-y: scroll;
}

.chatBox {
    background-color: white;
    margin: 10px 10px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Archivo", sans-serif;
    font-size: 1.5em;
    box-shadow: 5px 2px 5px #888888;
}

.chatBox:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: 0.3s;
  background-color: rgb(164, 252, 202);
}

.company_info {
  display: flex;
  flex-direction: column;
  margin: auto;
  /* flex-direction: ; */
}
.chatBox > img{
  width: 100px;
  height: 100px;
  margin: 0;
  position: relative;
  /* border-radius: 50%; */
  /* left: 100px; */
}

#chat_company {
  
}

#chat_location {
  font-size: medium;
  font-style: italic;
  color: #696969;
}