/* .right-container {
  border: 2px solid blue;
  width: 300px;
  height: 80%;
  margin-right: 30px;
} */

.right-container {
  width: 80%;
  max-width: 300px;
  max-height: 90%;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
  margin: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  font-family: 'Archivo', sans-serif;
}

.details-image {
  width: 100%;
}

.details-header {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.details-opening,
.details-contact,
.details-bio,
.details-title,
.details-location,
.op-details-header {
  font-family: "Roboto", sans-serif;
  padding: 10px;
}


.op-details-container {
  overflow-y: scroll;
  /* padding-right: 2rem; */
  max-height: 300px;
}
