@import url("https://fonts.googleapis.com/css2?family=Archivo&family=Archivo+Black&family=Lato&display=swap");

* {
  margin: 0;
}
/* #root {
  max-width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}

.form-container {
  display: block;
} */

/* .right-container,
.left-container,
.center-container {
  height: 100px;
  width: 100px;
} */
