.login {
  background: rgb(245,244,184);
  background: linear-gradient(270deg, rgba(245,244,184,1) 0%, rgba(181,231,228,1) 100%);
  width: 100%;
  height: 100%;
}

.login-form-container {
  position: fixed;
  left: 50%;
  width: 50%;
  top: 35%;
  background-color: rgba(255, 255, 255, 0.40);
  /* background-color: white; */
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
  font-family: 'Roboto', sans-serif;
  color: darkslategray;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.login-form-container button {
  background-color: rgba(255, 255, 255, 0.90);
  border: none;
  padding: .75em;
  color: darkslategray;
  font-size: .75em;
  margin: 5px;
}

.login-form-container input {
  border: none;
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 50%;
  font-size: 1.5em;
  color: darkslategray;
}

.welcome-text {
  font-family: "Archivo", sans-serif;
  width: 50%;
  position: fixed;
  left: 0%;
  top: 35%;
  color: white;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  font-size: large;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  margin: auto;
  text-align: center;
}

#logo {
  display: flex;
  width: 70%;
  margin: auto;
  -webkit-filter: drop-shadow(12px 12px 25px rgba(0,0,0,0.5));
    filter: url(#drop-shadow);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
}
