.left-container {
    /* border: 2px solid blue; */
    width: 300px;
    height: 80%;
    margin-left: 30px;
    margin-top: 30px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);

    background-color: snow;
}

.matched-box {
  display: grid;
  grid-template-columns: 1fr 4fr;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 5px -2px rgba(0, 0, 0, 0.20);
  font-family: "Archivo", sans-serif;
}

.matched-box > img{
  padding-left: 5px;
}
.match-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.20);
  box-shadow: 0 4px 5px -2px rgba(0, 0, 0, 0.20);
  display: grid;
  grid-template-columns: 4fr 2fr;
  font-family: "Archivo", sans-serif;
  font-size: 1.5em;
}

.match-header > div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 5px;
  border-left: 1px solid rgba(0, 0, 0, 0.20);
  font-size: 20px;
}

.match-header > div:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: 0.3s;
  background-color: rgb(164, 252, 202);
}

.openingTitle {
  color: rgba(0, 0, 0, 0.75);
}