.center-container {
  background-color: lightpink;
  margin: 0 auto;
  /* box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2); */
  height: 75%;
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5vh;
}


.message-box {
    background-color: rgb(218, 200, 176);
    margin: 10px 10px;
    width: auto;
    max-width: 255px;
    height: auto;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 18px;
}

.messages_display {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    overflow-y: scroll;
    width: 100%;
    display: grid;
    height: 100%;
}

.center-container > form {
    display: flex;
    flex-direction: row;
}

.jobseeker {
    background-color: rgb(204, 239, 204);
}

.company {
    background-color: aqua;
}
 .user {
    justify-self: flex-end;
 }

.text-box {
    height: 50px;
}

.messages-container > form > button {
    align-self: center;
    width: 15%;
    height: 70%;
    border: 1px solid black;
}
