.navbar-container {
  height: 30px;
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 100%;
  background-color: whitesmoke;
  display: flex;
  font-family: 'Archivo', sans-serif;
}

.swipefair-logo img {
  max-height: 30px;
  position: fixed;
  left: 50%
}

.my-profile-link h4{
  margin: 6px 0px 0px 10px;
  padding: 0;
}

.sign-out-link h4 {
  position: fixed;
  margin: 6px 10px 0px 0px;
  top: 0;
  right: 0;
}
