.navbar-container {
  height: 40px;
  /* position: absolute; */
  /* top: 0;
  left: 0; */
  width: 100%;
  background-color: white;
  display: flex;
  font-family: 'Archivo', sans-serif;
  justify-content: space-between;
  box-shadow: 0 4px 5px -2px rgba(0, 0, 0, 0.20);

  /* padding: 40px; */
}

.swipefair-logo img {
  max-height: 30px;
  /* margin: auto; */
}

.swipefair-logo {
  margin: auto;
  cursor: pointer;
}

.my-profile-link h4{
  margin-top: 9px;
}

.sign-out-link {
  cursor: pointer;
  padding-right: 20px;
}

.my-profile-link {
  cursor: pointer;
  padding-left: 20px;
}

.sign-out-link h4 {
  margin-top: 9px;
}

