.view-grid {
  display:grid;
  grid-template-rows: 30px 1fr;
  height: 100%;
  width: 100%;
}

.body-view {
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    background-color: #F4F4F4;
}
/* #root {
    display: grid;
    /* grid-template-rows: 30px 1fr; */
    /* align-items: unset;
} */ 